.menu {
    &-container {
        @extend .container-fluid;
        @extend .shadow-2;
        position: relative;
        z-index: 1;
    }

    &-row {
        @extend .row;
        @include define-prop-sizes(height, (96, 120, 144));
        justify-content: space-between;
        align-items: center;
    }

    &-logo {
        width: toRem(156);
        color: $primary;
    }

    &-link {
        cursor: pointer;
        @include margin(lg, right);
        color: $gray-dark;
        @include animation();

        &:hover {
            text-decoration: none;
            color: $primary;
        }
    }

    &-item {
        &-link {
            cursor: pointer;
            @include define-prop-sizes(font-size, (12, 18, 24));
            @include padding(md, right);
            color: $gray-dark;
            @include animation();

            &:hover {
                text-decoration: none;
                color: $primary;
            }
        }

        &-chevron {
            position: relative;
            top: toRem(1);
            color: $primary;
            margin-left: toRem(12);
        }
    }

    &-sub-item {
        margin: 0;
        padding: 0;
        &-link {
            cursor: pointer;
            position: relative;
            display: block;
            background: $gray-light-extra;
            border: 1px solid rgba($gray-dark, .15);
            line-height: 1;
            @include define-prop-sizes(font-size, (12, 18, 18));
            color: $gray;
            @include animation();
            min-width: toRem(120);

            @include media-breakpoint-up(md) {
                padding: toFixedRem(25, md) toFixedRem(30, md);
            }

            @include media-breakpoint-up(lg) {
                padding: toFixedRem(25, lg) toFixedRem(30, lg);
            }

            &:hover, &.is-active {
                background: $white;
                text-decoration: none;
            }

            &.is-active:before {
                content: ' ';
                position: absolute;
                background: $primary;
                left: 0;
                top: 0;
                bottom: 0;
                @include define-prop-sizes(width, (6, 6, 6));
            }
        }

        &+& {
            .menu-sub-item-link {
                border-top: none;
            }
        }
    }

    &-submenu {
        margin: 0;
        padding: 0;
        list-style-type: none;
        &-container {
            position: absolute;
            overflow: hidden;
        }
    }

    &-items {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &-mobile {
        margin: 0;
        padding: 0;

        &-container {
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
            z-index: 10;
        }
        &-item {
            $padding: toRem(25);
            position: relative;
            @include vertical-align();
            flex-direction: column;
            background: $white;
            border: {
                top: 1px solid rgba($gray-dark, .15);
                bottom: 1px solid rgba($gray-dark, .15);
            }

            &-link {
                $line-height: toRem(20);
                @include make-container();
                font-size: toRem(24);
                line-height: $line-height;
                color: $gray-dark;
                padding: {
                    top: $padding;
                    bottom: $padding;
                }

                &.is-active:before {
                    content: ' ';
                    position: absolute;
                    width: toRem(6);
                    left: 0;
                    top: 0;
                    bottom: 0;
                    background: $primary;
                    line-height: $line-height;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            &-chevron {
                @extend .menu-item-chevron;
            }
        }

        &-submenu {
            @extend .menu-mobile;
        }

        &-submenu-container {
            width: 100%;
        }

        &-sub-item {
            @extend .menu-mobile-item;

            &-link {
                @extend .menu-mobile-item-link;
                background: $gray-light-extra;
                @include animation();

                &:hover, &.is-active {
                    background: $white;
                }
            }
        }

        &-button-container {
            @include make-container();
        }

        &-button {
            width: 100%;
            margin: toRem(12) 0;
            display: block;
        }

        @include media-breakpoint-up(md) {
            display: none;
        }
    }
}
.breadcrumb {
    $borderSize: 3px;
    background: $gray-light-extra;

    &-container {
        @extend .container-fluid;
        border-bottom: $borderSize solid $gray-light;
    }

    &-row {
        @extend .row;
        @include define-prop-sizes(height, (36, 48, 60));
        align-items: center;
    }

    &-col {
        @extend .col;
        display: flex;
        height: 100%;
        margin-bottom: 0;
        list-style: none;
    }

    &-icon, &-link, &-text {
        color: $gray;
        @include define-prop-sizes(font-size, (12, 14, 18));
        line-height: 1;

        &:hover {
            text-decoration: none;
        }
    }

    &-icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }

    &-link, &-text {
        display: inline;
        position: relative;
        margin-right: 1rem;

        &:after {
            content: '>';
            margin-left: 1rem;
        }
    }

    &-item {
        display: flex;
        align-items: center;
        position: relative;
        top: $borderSize
    }

    &-item:last-child {
        .breadcrumb-text:after {
            position: absolute;
            left: -.5rem;
            right: -.5rem;
            height: $borderSize;
            background: $primary;
            display: block;
            content: '';
            margin: 0;
            @include define-prop-sizes(bottom, (-12, -17, -20));
        }
    }
}
